h1{
 font: 52px monospace;


}
body{
    background-color: rgb(206, 153, 255);
}
#lst1{
    display: inline;
    border:solid rgb(150, 84, 193);
    border-radius: 30px;
    padding :7px;
    margin : 8px;
    font-size:25px;
    font-family: monospace , fantasy;
    text-align: center;

}
#lst2{
    display: inline;
    border:solid rgb(150, 84, 193);
    border-radius: 30px;
    padding :7px;
    margin : 8px;
    font-size:25px;
    font-family: monospace , fantasy;
    text-align: center;
}
#lst3{
    display: inline;
    border:solid rgb(150, 84, 193);
    border-radius: 30px;
    padding :7px;
    margin : 8px;
    font-size:25px;
    font-family: monospace , fantasy;
    text-align: center;

}
#lst4{
    display: inline;
    border:solid rgb(150, 84, 193);
    border-radius: 30px;
    padding :7px;
    margin : 8px;
    font-size:25px;
    font-family: monospace , fantasy;
    text-align: center;

}
#lst5{
    display: inline;
    border:solid rgb(150, 84, 193);
    border-radius: 30px;
    padding :7px;
    margin : 8px;
    font-size:25px;
    font-family: monospace , fantasy;
    text-align: center;

}
.lst{
    text-align: center;
    padding: 30px;
}